<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>-->
  <system.diagnostics>
    <sources>
      <source name="NetworkConnectedModRunner"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="GameServerConnection"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="VotingRewardMod"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="PlayfieldStructureRegenMod"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="StructureOwnershipMod"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="StarterShipMod"
        switchName="sourceSwitch"
        switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="ShipBuyingMod"
         switchName="sourceSwitch"
         switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="console"/>
          <add name="logFile"/>
          <remove name="Default"/>
          <!--<add name="ShipBuyingModLogFile"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="ShipBuyingMod.log">
            <filter type="System.Diagnostics.EventTypeFilter"
              initializeData="Information"/>
          </add>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="logFile"
        type="System.Diagnostics.TextWriterTraceListener"
        initializeData="NetworkConnectedModRunner.log">
        <filter type="System.Diagnostics.EventTypeFilter"
          initializeData="Error"/>
      </add>
      <add name="console"
        type="System.Diagnostics.ConsoleTraceListener">
        <filter type="System.Diagnostics.EventTypeFilter"
          initializeData="Information"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>