################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/**/bin
/**/obj
/DiscordBotMod/.vs/DiscordBotMod/v15
/DiscordBotMod/packages
