################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GoHome/bin
/GoHome/obj
/packages
/PlanetOwnership/bin
/PlanetOwnership/obj
